body { margin: 0; padding: 0; -webkit-font-smoothing: antialiased; }
a { text-decoration: none; }

body h3 { font: 100 50px "Open Sans"; color: #2B303B; margin: 0; margin-bottom: 18px; }
.api-example { font: 100 20px "Open Sans"; color: #2B303B; margin: 18; text-transform: uppercase; }

.image-container { position: relative; max-height: 500px; width: 95%; margin: 18px auto; overflow: hidden; z-index: 0; transition: max-height 0.5s ease; }
.tag.image-container { 
	height: 500px; 
	background-position: center center;
	background-size: cover;
}

.image { 
	position: relative;
	width: 100%; 
	border: none;
	opacity: 0;
	transition: all 1s ease; 
	z-index: 0;
}

.author-info {
	display: flex; display: -webkit-flex;
	position: absolute; 
	top: 0; left: 0; bottom: 0; right: 0;
	align-items: center; -webkit-align-items: center;
	justify-content: center; -webkit-justify-content: center;
	flex-direction: column; -webkit-flex-direction: column; 

	z-index: 2;
}

.author-info *:first-child { position: relative; right: 18px; font: 100 50px "Open Sans"; opacity: 0; transition: right 0.5s ease, opacity 0.5s ease; }
.author-info *:last-child { position: relative; right: -18px; font: 100 20px "Open Sans"; opacity: 0; transition: right 0.5s ease 0.3s, opacity 0.5s ease 0.5s; }

.fader {
	position: absolute; 
	top: 0; left: 0; bottom: 0; right: 0;
	opacity: 0;
	transition: all 1s ease;
	z-index: 1;
}

.image-info { position: absolute; bottom: 0; right: 0; padding: 18px; font: 100 25px "Open Sans"; z-index: 2 }

.image-container:hover { max-height: 750px; }
.image-container:hover .author-info { opacity: 1; }
.image-container:hover .author-info * { right: 0; opacity: 1; }
.image-container:hover .fader { opacity: 0.75; }

input {
	padding: 4.5 9;
	vertical-align: baseline;
	text-align: center;
	font: 100 20px "Open Sans";

	border: 1px solid #2B303B;
	border-radius: 2px;
	outline: none;
}

#image { width: 150px; }

@media only screen and (min-width : 1224px) {
	.image-container { width: 65%; }
};
